html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
button {
	cursor: pointer !important;
}

body {
	box-sizing: border-box;
}

body * {
	box-sizing: border-box;
}

button,
input {
	outline: 0;
}

@font-face {
	font-family: 'Freight';
	src: url("../fonts/Freight/Freight-TextBoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Freight/Freight-TextBoldItalic.woff") format('woff'), url("../fonts/Freight/Freight-TextBoldItalic.ttf") format('truetype'), url("../fonts/Freight/Freight-TextBoldItalic.svg#Freight-TextBoldItalic") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoBold';
	src: url("../fonts/Roboto/Roboto-BoldCondensed.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/Roboto-BoldCondensed.woff") format('woff'), url("../fonts/Roboto/Roboto-BoldCondensed.ttf") format('truetype'), url("../fonts/Roboto/Roboto-BoldCondensed.svg#Roboto-BoldCondensed") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLight';
	src: url("../fonts/Roboto-lightRobotoCondensed-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-lightRobotoCondensed-Light.woff") format('woff'), url("../fonts/Roboto-lightRobotoCondensed-Light.ttf") format('truetype'), url("../fonts/Roboto-lightRobotoCondensed-Light.svg#RobotoCondensed-Light") format('svg');
	font-weight: light;
	font-style: light;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url("../fonts/RobotoRegular/RobotoCondensed-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.woff") format('woff'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.ttf") format('truetype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GaramondBd';
	src: url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.eot?#iefix") format('embedded-opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.otf") format('opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.woff") format('woff'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.ttf") format('truetype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.svg#GaramondPremrPro-Bd") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLightItalic';
	src: url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.woff") format('woff'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.ttf") format('truetype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic") format('svg');
	font-weight: italic;
	font-style: italic;
}

@font-face {
	font-family: 'SourceBold';
	src: url("../fonts/SoursSans/SourceSansPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.otf") format('opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.woff") format('woff'), url("SourceSansPro-Bold.ttf") format('truetype'), url("../fonts/SoursSans/SourceSansPro-Bold.svg#SourceSansPro-Bold") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'SourceSemibold';
	src: url("../fonts/SoursSansPro/SourceSansPro-Semibold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.otf") format('opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.woff") format('woff'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.ttf") format('truetype'), url("SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format('svg');
	font-weight: semibold;
	font-style: semibold;
}

@font-face {
	font-family: 'SourceRegular';
	src: url("../fonts/SoursSansReg/SourceSansPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.otf") format('opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.woff") format('woff'), url("../fonts/SoursSansReg/SourceSansPro-Regular.ttf") format('truetype'), url("SourceSansPro-Regular.svg#SourceSansPro-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReklameRegular';
	src: url("../fonts/reclameScript/ReklameScript-RegularDEMO.eot?#iefix") format('embedded-opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.otf") format('opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.woff") format('woff'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.ttf") format('truetype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.svg#ReklameScript-RegularDEMO") format('svg');
	font-weight: normal;
	font-style: normal;
}

.header {
	width: 100%;
	font-size: 0;
}

.header-logo {
	background: #a4c639;
	width: 25%;
	color: #fff;
	font-family: 'ReklameRegular';
	font-size: 41.67px;
	display: inline-block;
	text-align: center;
	padding: 44px 0;
}

.header-nav {
	width: 75%;
	display: inline-block;
	background: #3a4246;
	vertical-align: top;
	padding: 37px 0;
}

.header-nav__menu {
	display: inline-block;
	margin-left: 32px;
	margin-right: 45px;
}

.header-nav__menu li {
	display: inline-block;
	margin-right: 32px;
	cursor: pointer;
}

.header-nav__menu li:nth-child(2) .list__items {
	position: relative;
}

.header-nav__menu li:nth-child(2) .list__items:before {
	content: '10';
	position: absolute;
	top: -23px;
	right: -24px;
	font-size: 12px;
	background: #64b5f6;
	padding: 7px 7px;
	border-radius: 50%;
	color: #fff;
}

.header-nav__menu li img {
	padding-right: 10px;
}

.header-nav__menu .list__items {
	font-size: 19.47px;
	color: #bec1c2;
	font-family: RobotoBold;
	display: inline-block;
}

.header-nav__form {
	display: inline-block;
	width: 29%;
	margin-right: 42px;
	position: relative;
}

.header-nav__form:before {
	content: ' ';
	position: absolute;
	width: 16px;
	height: 16px;
	background: url("/img/header_img/serch.png") no-repeat;
	top: 20px;
	right: 25px;
	z-index: 100;
}

.header-nav__serch {
	width: 100%;
	background: #50595e;
	border: none;
	padding: 15px 20px;
	border-radius: 50px;
	font-size: 19.44px;
	font-family: RobotoLightItalic;
	position: relative;
}

.header-nav__btn {
	text-transform: uppercase;
	font-size: 19.44px;
	font-family: SourceBold;
	padding: 15px 22px;
	border-radius: 10px;
	background: #ff5722;
	color: #fff;
	border: none;
}

.wrapper-main {
	background: #f5f5f5;
}

body {
	background: url("../img/bg.png") no-repeat;
	background-size: cover;
}

.wrapper {
	width: 89%;
	margin: 158px auto 0 auto;
}



@font-face {
	font-family: 'Freight';
	src: url("../fonts/Freight/Freight-TextBoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Freight/Freight-TextBoldItalic.woff") format('woff'), url("../fonts/Freight/Freight-TextBoldItalic.ttf") format('truetype'), url("../fonts/Freight/Freight-TextBoldItalic.svg#Freight-TextBoldItalic") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoBold';
	src: url("../fonts/Roboto/Roboto-BoldCondensed.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto/Roboto-BoldCondensed.woff") format('woff'), url("../fonts/Roboto/Roboto-BoldCondensed.ttf") format('truetype'), url("../fonts/Roboto/Roboto-BoldCondensed.svg#Roboto-BoldCondensed") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLight';
	src: url("../fonts/Roboto-lightRobotoCondensed-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-lightRobotoCondensed-Light.woff") format('woff'), url("../fonts/Roboto-lightRobotoCondensed-Light.ttf") format('truetype'), url("../fonts/Roboto-lightRobotoCondensed-Light.svg#RobotoCondensed-Light") format('svg');
	font-weight: light;
	font-style: light;
}

@font-face {
	font-family: 'RobotoRegular';
	src: url("../fonts/RobotoRegular/RobotoCondensed-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.woff") format('woff'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.ttf") format('truetype'), url("../fonts/RobotoRegular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GaramondBd';
	src: url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.eot?#iefix") format('embedded-opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.otf") format('opentype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.woff") format('woff'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.ttf") format('truetype'), url("../fonts/Gramound-Premr/GaramondPremrPro-Bd.svg#GaramondPremrPro-Bd") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'RobotoLightItalic';
	src: url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.woff") format('woff'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.ttf") format('truetype'), url("../fonts/Roboto-Italick/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic") format('svg');
	font-weight: italic;
	font-style: italic;
}

@font-face {
	font-family: 'SourceBold';
	src: url("../fonts/SoursSans/SourceSansPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.otf") format('opentype'), url("../fonts/SoursSans/SourceSansPro-Bold.woff") format('woff'), url("SourceSansPro-Bold.ttf") format('truetype'), url("../fonts/SoursSans/SourceSansPro-Bold.svg#SourceSansPro-Bold") format('svg');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'SourceSemibold';
	src: url("../fonts/SoursSansPro/SourceSansPro-Semibold.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.otf") format('opentype'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.woff") format('woff'), url("../fonts/SoursSansPro/SourceSansPro-Semibold.ttf") format('truetype'), url("SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format('svg');
	font-weight: semibold;
	font-style: semibold;
}

@font-face {
	font-family: 'SourceRegular';
	src: url("../fonts/SoursSansReg/SourceSansPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.otf") format('opentype'), url("../fonts/SoursSansReg/SourceSansPro-Regular.woff") format('woff'), url("../fonts/SoursSansReg/SourceSansPro-Regular.ttf") format('truetype'), url("SourceSansPro-Regular.svg#SourceSansPro-Regular") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ReklameRegular';
	src: url("../fonts/reclameScript/ReklameScript-RegularDEMO.eot?#iefix") format('embedded-opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.otf") format('opentype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.woff") format('woff'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.ttf") format('truetype'), url("../fonts/reclameScript/ReklameScript-RegularDEMO.svg#ReklameScript-RegularDEMO") format('svg');
	font-weight: normal;
	font-style: normal;
}


.header {
	width: 100%;
	font-size: 0;
}

.header-logo {
	background: #a4c639;
	width: 25%;
	color: #fff;
	font-family: 'ReklameRegular';
	font-size: 41.67px;
	display: inline-block;
	text-align: center;
	padding: 44px 0;
}

.header-nav {
	width: 75%;
	display: inline-block;
	background: #3a4246;
	vertical-align: top;
	padding: 37px 0;
}

.header-nav__menu {
	display: inline-block;
	margin-left: 32px;
	margin-right: 45px;
}

.header-nav__menu li {
	display: inline-block;
	margin-right: 32px;
	cursor: pointer;
}

.header-nav__menu li:nth-child(2) .list__items {
	position: relative;
}

.header-nav__menu li:nth-child(2) .list__items:before {
	content: '10';
	position: absolute;
	top: -23px;
	right: -24px;
	font-size: 12px;
	background: #64b5f6;
	padding: 7px 7px;
	border-radius: 50%;
	color: #fff;
}

.header-nav__menu li img {
	padding-right: 10px;
}

.header-nav__menu .list__items {
	font-size: 19.47px;
	color: #bec1c2;
	font-family: RobotoBold;
	display: inline-block;
}

.header-nav__form {
	display: inline-block;
	width: 29%;
	margin-right: 42px;
	position: relative;
}

.header-nav__form:before {
	content: ' ';
	position: absolute;
	width: 16px;
	height: 16px;
	background: url("/img/header_img/serch.png") no-repeat;
	top: 20px;
	right: 25px;
	z-index: 100;
}

.header-nav__serch {
	width: 100%;
	background: #50595e;
	border: none;
	padding: 15px 20px;
	border-radius: 50px;
	font-size: 19.44px;
	font-family: RobotoLightItalic;
	position: relative;
}

.header-nav__btn {
	text-transform: uppercase;
	font-size: 19.44px;
	font-family: SourceBold;
	padding: 15px 22px;
	border-radius: 10px;
	background: #ff5722;
	color: #fff;
	border: none;
}


.wrapper-main {
	background: #f5f5f5;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
button {
	cursor: pointer !important;
}

body {
	box-sizing: border-box;
}

body * {
	box-sizing: border-box;
}

button,
input {
	outline: 0;
}


/*fonts*/

/*fon-rb = Roboto-BoldCondensed
fon-rl = RobotoCondensed-Light
fon-rcl = RobotoCondensed-LightItalic
fon-gb = GaramondPremrPro-Bd
fon-sb = SourceSansPro-Bold
fon-ss = SourceSansPro-Semibold
fon-sr = SourceSansPro-Regular
fon-rk=ReklameRegular*/

/*fonts*/

/*size*/

/*size*/

/*color*/

/*color*/

