@import 'base/reset.styl'
@import 'base/fonts.styl'
@import 'base/tepografi.styl'

@import 'base/header.styl'
@import 'base/main.styl'
@import 'base/aside.styl'

body 
	background url('../img/bg.png') no-repeat
	background-size cover
.wrapper
	width 89%
	margin 158px auto 0 auto
	overflow hidden 
	border-radius 10px
	margin-bottom 150px