<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/main.css")
body
	include mixin/_mixin-list
	include mixin/_mixin-test
	.wrapper
		include base/_header
		.wrapper-main
			include base/_aside
			include base/_main







		script(src="js/main.js")
