
@font-face {
  font-family: 'ReklameScript-RegularDEMO';
  src: url('ReklameScript-RegularDEMO.eot?#iefix') format('embedded-opentype'),  url('ReklameScript-RegularDEMO.otf')  format('opentype'),
	     url('ReklameScript-RegularDEMO.woff') format('woff'), url('ReklameScript-RegularDEMO.ttf')  format('truetype'), url('ReklameScript-RegularDEMO.svg#ReklameScript-RegularDEMO') format('svg');
  font-weight: normal;
  font-style: normal;
}
