aside.aside
	.aside-headline SOCIAL NETWORKS
	+list([
			{img:'img/aside_img/asid-icon.png', title:'Facebook'},
			{img:'img/aside_img/asid-icon1.png', title:'Twitter'},
			{img:'img/aside_img/asid-icon2.png', title:'Dribbble'},
			{img:'img/aside_img/asid-icon3.png', title:'Behance'}
		], "aside__menu")
	.aside-headline EVENTS
	+list([
			{img:'img/aside_img/asid-icon1-1.png', title:'Project Plex Review'},
			{img:'img/aside_img/asid-icon1-2.png', title:'Strava: Designing Weather '},
			{img:'img/aside_img/asid-icon1-3.png', title:'Moscow Dribbble Meetup 2014'}
		], "aside__menu_bot")
	.user-account
		.user-account__avatar
		.user-account__name Alexandru Stoica
		.user-account__icons