header.header
	.header-logo Portfolio
	.header-nav
		+list([
			{img:'img/header_img/icon_hd1.png', title:'Projects'},
			{img:'img/header_img/icon_hd2.png', title:'Clients'},
			{img:'img/header_img/icon_hd3.png', title:'About Me'},
			{img:'img/header_img/icon_hd4.png', title:'Contact'}
		], "header-nav__menu")
		.header-nav__form
			input(type="text" placeholder="Search..." class="header-nav__serch")
		button.header-nav__btn HIRE ME