main.main
	.main-headline
		h2 DRIBBBLE PORTFOLIO
		h3 VIEW ON WEB
	+block([
		{img:'img/main_img/shot-example.png',  text:'Vlad Typography Experiment', but:'Type', sp:'Jul 14, 2014'},
		{img:'img/main_img/shot-example2.png', text:'LaMusique History List', but:'Mobile', sp:'Jul 16, 2014'},
		{img:'img/main_img/shot-example3.png', text:'Blood Pressure Tracker', but:'Mobile', sp:'Jul 14, 2014'},
		{img:'img/main_img/shot-example4.png', text:'Feed 2Pieces Project Feed Feed', but:'Mobile', sp:'Jul 24, 2014'}
	])
	+block-bot([
		{
			headline:'PROJECT 2PIECES',
			text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum odio dolor, eget vulputate quam malesuada sit amet. Pellentesque auctor lacinia tellus, et bibendum nulla vehicula nec. Nulla odio massa, lacinia sit amet ullamcorper vitae, posuere sed turpis. Pellentesque auctor lacinia tellus, et bibendum nulla vehicula nec. Nulla odio ',
			img:'img/main_img/profile-img-main.png',
			name:'Justin Green',
			pos:'Developer',
			class: 'block-bott_wrap'
		},
		{headline:'PROJECT VEBEE', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum odio dolor, eget vulputate quam malesuada sit amet. Pellentesque auctor lacinia tellus, et bibendum nulla vehicula nec. Nulla odio massa, lacinia sit amet ullamcorper vitae, posuere sed turpis. Pellentesque auctor lacinia tellus, et bibendum nulla vehicula nec. Nulla odio ', img:'img/main_img/profile-img-main2.png', name:'Marie Tarly', pos:'Project Manager',class: 'block-bott_wrap'},
		{headline:'PROJECT LAMUSIQUE', text:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rutrum odio dolor, eget vulputate quam malesuada sit amet. Pellentesque auctor lacinia tellus, et bibendum nulla vehicula nec. Nulla odio massa, lacinia sit amet ullamcorper vitae, posuere sed turpis. Pellentesque auctor lacinia tellus, et bibendum nulla vehicula nec. Nulla odio  posuere sed turpis.', img:'img/main_img/profile-img-main3.png', name:'David Russo', pos:'Project Manager', class: 'block-bott_wrap'},
		{class:'block-carts', imags:'img/main_img/icon_wifi.png', hdline:'EXPLORE THE MUSIC', suBhdline: 'with Spotify', txt:'Discover some great songs on my working playlist.', btn:'go to playlist'}
	])