 @font-face {
  font-family: 'Freight';
  src: url('../fonts/Freight/Freight-TextBoldItalic.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Freight/Freight-TextBoldItalic.woff') format('woff'), 
  url('../fonts/Freight/Freight-TextBoldItalic.ttf')  format('truetype'), 
  url('../fonts/Freight/Freight-TextBoldItalic.svg#Freight-TextBoldItalic') format('svg');
  font-weight: bold;
  font-style: bold;
}
 @font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto/Roboto-BoldCondensed.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Roboto/Roboto-BoldCondensed.woff') format('woff'), 
  url('../fonts/Roboto/Roboto-BoldCondensed.ttf')  format('truetype'), 
  url('../fonts/Roboto/Roboto-BoldCondensed.svg#Roboto-BoldCondensed') format('svg');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/Roboto-lightRobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Roboto-lightRobotoCondensed-Light.woff') format('woff'), 
  url('../fonts/Roboto-lightRobotoCondensed-Light.ttf')  format('truetype'), 
  url('../fonts/Roboto-lightRobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
  font-weight: light;
  font-style: light;
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/RobotoRegular/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/RobotoRegular/RobotoCondensed-Regular.woff') format('woff'), 
  url('../fonts/RobotoRegular/RobotoCondensed-Regular.ttf')  format('truetype'), 
  url('../fonts/RobotoRegular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GaramondBd';
  src: url('../fonts/Gramound-Premr/GaramondPremrPro-Bd.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Gramound-Premr/GaramondPremrPro-Bd.otf')  format('opentype'),
  url('../fonts/Gramound-Premr/GaramondPremrPro-Bd.woff') format('woff'), 
  url('../fonts/Gramound-Premr/GaramondPremrPro-Bd.ttf')  format('truetype'), 
  url('../fonts/Gramound-Premr/GaramondPremrPro-Bd.svg#GaramondPremrPro-Bd') format('svg');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'RobotoLightItalic';
  src: url('../fonts/Roboto-Italick/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Roboto-Italick/RobotoCondensed-LightItalic.woff') format('woff'), 
  url('../fonts/Roboto-Italick/RobotoCondensed-LightItalic.ttf')  format('truetype'), 
  url('../fonts/Roboto-Italick/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic') format('svg');
  font-weight: italic;
  font-style: italic;
}

@font-face {
  font-family: 'SourceBold';
  src: url('../fonts/SoursSans/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/SoursSans/SourceSansPro-Bold.otf')  format('opentype'),
  url('../fonts/SoursSans/SourceSansPro-Bold.woff') format('woff'), url('SourceSansPro-Bold.ttf')  format('truetype'), 
  url('../fonts/SoursSans/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'SourceSemibold';
  src: url('../fonts/SoursSansPro/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/SoursSansPro/SourceSansPro-Semibold.otf')  format('opentype'),
  url('../fonts/SoursSansPro/SourceSansPro-Semibold.woff') format('woff'), 
  url('../fonts/SoursSansPro/SourceSansPro-Semibold.ttf')  format('truetype'), url('SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
  font-weight: semibold;
  font-style: semibold;
}
@font-face {
  font-family: 'SourceRegular';
  src: url('../fonts/SoursSansReg/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/SoursSansReg/SourceSansPro-Regular.otf')  format('opentype'),
  url('../fonts/SoursSansReg/SourceSansPro-Regular.woff') format('woff'), 
  url('../fonts/SoursSansReg/SourceSansPro-Regular.ttf')  format('truetype'), url('SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ReklameRegular';
  src: url('../fonts/reclameScript/ReklameScript-RegularDEMO.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/reclameScript/ReklameScript-RegularDEMO.otf')  format('opentype'),
  url('../fonts/reclameScript/ReklameScript-RegularDEMO.woff') format('woff'), 
  url('../fonts/reclameScript/ReklameScript-RegularDEMO.ttf')  format('truetype'), 
  url('../fonts/reclameScript/ReklameScript-RegularDEMO.svg#ReklameScript-RegularDEMO') format('svg');
  font-weight: normal;
  font-style: normal;
}






