/*fonts*/
/*fon-rb = Roboto-BoldCondensed
fon-rl = RobotoCondensed-Light
fon-rcl = RobotoCondensed-LightItalic
fon-gb = GaramondPremrPro-Bd
fon-sb = SourceSansPro-Bold
fon-ss = SourceSansPro-Semibold
fon-sr = SourceSansPro-Regular
fon-rk=ReklameRegular*/
/*fonts*/

/*size*/
siz_h1 = 41px
siz_h2 = 20px
siz_h2_as = 18px
siz_h2_mi = 20px

siz_h3 = 20px
siz_h3_asid = 20px
siz_h3_main = 20px

siz_h4 = 20px
siz_h4_asid = 20px
siz_h4_main = 20px

siz_h5 = 20px
siz_h5_asid = 20px
siz_h5_main = 20px

siz_h6 = 20px
siz_h6_asid = 20px
siz_h6_main = 20px

siz_p = 20px
siz_p_asid = 20px
siz_p_main = 20px

siz_span = 20px
siz_span_asid = 20px
siz_span_main = 20px

siz_a = 20px
siz_a_asid = 20px
siz_a_main = 20px

siz_btn = 20px
siz_btn_asid = 20px
siz_btn_main = 20px
/*size*/

/*color*/
col_bg = #a4c639
col_bg2 = #3a4246
col_h1 = #000
col_h2 = #000
col_h2_as = #485254
col_h2_main = #000

col_h3 = #000
col_h3_asid = #000
col_h3_main = #000

col_h4 = #000
col_h4_asid = #000
col_h4_main = #000

col_h5 = #000
col_h5_asid = #000
col_h5_main = #000

col_h6 = #000
col_h6_asid = #000

col_p = #000
col_p_asid = #000
col_p_main = #000

col_span = #000
col_span_asid = #000
col_span_main = #000

col_btn = #000
col_btn_asid = #000
col_btn_main = #000

col_a = #000
col_a_asid = #000
col_a_main =  #000
/*color*/